<a name="top"></a>
<div style="width:1000 px">

<div style="float:right; width:68 px; height:68px;">
<img src="./images/nmc_logo.png" alt="NMC Logo" style="height: 68px;">
</div>
    
<h1 align="left">读取Micaps数据文件格式</h1>

<div style="clear:both"></div>
</div>

<hr style="height:2px;">

In [4]:
# set up things
%matplotlib inline
%load_ext autoreload
%autoreload 2

import warnings
warnings.filterwarnings('ignore')

In [8]:
# load libraries
import numpy as np
import xarray as xr
from nmc_met_io.read_micaps import read_micaps_1

## 读取第1类地面填图数据格式

In [9]:
filename = "samples/micaps/surface_plot/20020402.000"
records = read_micaps_1(filename)

In [10]:
records

,ID,lon,lat,alt,grade,total_cloud_cover,wind_angle,wind_speed,MSLP,pressure_3h_trend,...,low_cloud_base,dewpoint,visibility,current_weather,temperature,middle_cloud_type,high_cloud_type,flag1,flag2,time
0,48387,98.93,16.75,863.0,1,0.0,240,1,1001.39,-1.0,...,NaN,12.0,7.0,10,17.7,NaN,NaN,NaN,NaN,2020-02-04 02:00:00
1,01009,119.80,14.40,NaN,1,5.0,70,9,1001.50,0.0,...,100.0,18.0,NaN,0,24.0,NaN,NaN,NaN,NaN,2020-02-04 02:00:00
2,45045,114.30,22.17,60.0,1,NaN,70,14,1001.99,0.0,...,NaN,15.0,NaN,0,16.7,NaN,NaN,NaN,NaN,2020-02-04 02:00:00
3,45004,114.17,22.31,66.0,1,NaN,90,5,1001.97,0.0,...,NaN,13.0,NaN,0,16.4,NaN,NaN,NaN,NaN,2020-02-04 02:00:00
4,45005,114.17,22.30,31.0,1,NaN,90,6,1001.98,0.0,...,NaN,14.0,NaN,0,17.0,NaN,NaN,NaN,NaN,2020-02-04 02:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6496,03693,0.83,51.55,2.0,1,NaN,300,2,1001.10,0.0,...,1000.0,6.0,26.0,0,7.5,NaN,NaN,NaN,NaN,2020-02-04 02:00:00
6497,03797,1.34,51.35,49.0,1,NaN,280,6,1001.12,-1.0,...,600.0,5.0,10.0,0,8.5,NaN,NaN,NaN,NaN,2020-02-04 02:00:00
6498,03931,1.16,52.46,52.0,1,NaN,290,3,1000.97,0.0,...,1500.0,2.0,NaN,0,7.1,NaN,NaN,NaN,NaN,2020-02-04 02:00:00
6499,48557,99.50,8.42,28.0,1,2.0,0,0,1001.30,0.0,...,NaN,20.0,10.0,0,21.5,NaN,11.0,NaN,NaN,2020-02-04 02:00:00
6500,59544,119.00,22.60,0.0,1,NaN,27,10,1001.92,NaN,...,NaN,NaN,NaN,0,20.0,NaN,NaN,NaN,NaN,2020-02-04 02:00:00

In [11]:
float('***')

ValueError: could not convert string to float: '***'